<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/images/aylogo.webp" type="image/x-icon">
    <meta name="description" content="{{ desc }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <main>
    {% include 'header.njk' %}
    <div>
      {{ content | safe }} 
    </div>
   
    {% include 'footer.njk' %}
  </main>
  
</body>

<!-- <script src="/bundle.js"></script> -->

</html>
