---
title: blog
layout: 'base.njk'

---

       
<section>
  <div class="container_large">
      <div class="padding_global">
        <div class="section container">
          <h1 class="section-title">Recent articles</h1>
          <ul role="list" class="articles__list flow">
            {%- for post in collections.post | reverse -%}
               {% include 'article-snippet.njk' %}
            {%- endfor -%}
          </ul>
    </div>
  </div>
</section>